* {
	box-sizing: border-box;
	font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* navigation */

.navbar {
	position: fixed;
	background: #fff;
	min-height: 0;
	border-bottom: 1px solid #bfbfbf;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	left: 0;
	top: 0;
	clear: both;
	width: 100%;
}
	
.navbar-brand {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	background: transparent;
	font-size: 100%;
	justify-items: center;
}

.navbar-item {
	display: grid;
	justify-self: center;

}


.navbar-item a {
	text-decoration: none;
	color: rgb(0, 40, 55);
	font-size: 1rem;
	line-height: 1.3125rem;
	font-weight: 700;
	text-transform: capitalize;
}

.nav-link a,
.selec a {
	color: #00b3e5;
}


/* content */

.header .main-container {
	display: flex;
	flex-flow: column wrap;
}


.title {
	font-size: 3.125rem;
	font-weight: 700;
	line-height: 3.1875rem;
	letter-spacing: -.0375rem;
	color: #000;
	margin: 0 0 .93747rem;

}

.author {
	color: #00b3e5;
}

.main-img {
	display: block;
	height: 400px;
	width: 100%;
}

.img-title,
.credt {
	font-size: .75rem;
	line-height: .9375rem;
	margin: 0;
	padding: 0;
	border: 0;
}

.social {
	display: flex;
	flex-flow: row wrap;
}

.social-link {
	margin-right: .91667rem;
}

.main-hero div {
	display: grid;
}

.content-flex {
	display: flex;
}

.art-cont {
	max-width: calc(100% - 25.125rem);
	width: auto;
	margin: 0 auto;
}

.box-out h4, h4 a {
	font-size: 1rem;
	font-weight: 400;
	display: inline-block;
}

.box-out h4 a {
	margin: 0 0 0 .34375rem;
	font-family: Titillium Web, Helvetica, Trebuchet MS, Arial;
	color: #00b3e5;
	text-decoration: none;
}

.box-out {
	background: #f5f5f5;
	margin: 1.375rem 0;
	padding: .6875rem;
	width: 100%;
	border: 0;
	font-size: 100%;
	line-height: 1.4375rem;
}

.sidbar {
	display: block;
	overflow: hidden;
	width: 250px;
	margin-top: 50px;
}

.content p a {
	color: #00b3e5;
	text-decoration: none;
}

.content p {
	font-family: "PT serif", Georgia, serif;
	font-size: 1.0625rem;
	line-height: 1.5625rem;
	margin: 0 0 .6875rem;
	padding: 0;
	border: 0;
	color: #4d4d4d;
}

.content p span {
	font-weight: 700;
}

.tags {
	display: flex;
	flex-flow: row;
}

.tags span {
	margin: 1rem .6875rem 0 0;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.1875rem;
	padding: 0;
	color: #4d4d4d;
	display: inline-block;
}

.tags p a {
	background: #005587;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.1875;
	border: 0;
	margin: 1rem;
	border-radius: .188rem;
	text-align: center;
	padding: .45833rem;
	vertical-align: baseline;
	text-decoration: none;
}

/* gallery */

.gallery {
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}

.gallery a {
	text-decoration: none;
}

.img-item {

}

.img-fo {
	height: auto;
	width: 100%;
}


.hed-img-descr {
	font-size: 1.375rem;
	font-weight: 700;
	letter-spacing: -.0375rem;
	line-height: 1.5625rem;
	margin: 0;
	padding: 0;
	border: 0;
	pointer-events: none;
	transition: all .2s;
	color: #000;
}

.img-descr {
	padding: 0px 0 0px;
	text-align: left;
	letter-spacing: -0.6px;
	margin-top: 0;
	line-height: 1.25;
	font-size: 16px;
	font-weight: bold;
	border: 0;
}

.img-descr:hover {
	color: #179cce;
}

.hed-img-descr:hover {
	color: #179cce;
}

.sub-desc {
	overflow: hidden;
	max-height: initial;
	color: #4d4d4d;
	margin: 2px 0px 2px 0px;
	text-align: left;
	font-size: 12px;
	line-height: 1.25;
	font-weight: normal;
	border: 0;
	padding: 0;
}

/* footer */

.headi {
	font-family: Titillium Web, Helvetica, Trebuchet MS, Arial;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.6875rem;
	color: #000;
	letter-spacing: -.0375rem;
	margin: 0 0 .93747rem;
	border: 0;
	padding: 0;
}

.ff-ne {
	padding: 0;
	border: 0;
	font-size: 100%;
	margin: 0;
}

.form-foo {
	position: relative;
}

.button-sig {
	box-shadow: none !important;
	float: left;
	text-shadow: none !important;
	width: 7rem;
	background: #005587;
	border: 0;
	border-radius: .188rem;
	color: #fff;
	cursor: pointer;
	font-family: Titillium Web, Helvetica, Trebuchet MS, Arial;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: .45833rem;
	transition: all .2s;
}

.email-inp {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #000;
	border-radius: 0;
	font-family: PT Serif, Georgia, serif;
	font-size: 1rem;
	height: auto;
	line-height: 1rem;
	padding-left: .1875rem;
	float: left;
	margin-right: 2%;
	width: 32%;
	margin: 0 .6875rem .6875rem 0;
	appearance: none;
	color: #000;	
}

.sig-label {
	float: left;
	font-family: PT Serife, Georgia, serif;
	margin: 0 .6875rem .6875rem 0;
	border: 0;
	font-size: 100%;
	padding: 0;
	color: #4d4d4d;
}

.footer {
	background-color: #f5f5f5;
	display: inline-block;
	margin: 1.87495rem 0 0;
	padding: 1.375rem 0;
	width: 100%;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	color: #4d4d4d;
	line-height: 1.4375rem;
}

.footer-warp {
	margin: 0 auto;
	position: relative;
	padding: 0 .93747rem;
	max-width: 70.62495rem;	
}

.footer-content {
	clear: both;
	content: " ";
	display: table;
	margin-bottom: .6875rem;
	padding: .6875rem 0;
}

.nav-foo_se {
	border-bottom: 1px solid #bfbfbf;
}

.nav-foo {
	padding-bottom: .6875rem;
	margin-bottom: .6875rem;
	text-align: center;
	display: block;
	font-size: 100%;	
}

.foo-nav_item {
	display: inline-block;
	margin: 0 .6875rem 0 0;
	padding: 0 .6875rem 0 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style-type: none;
	list-style: none;
	text-align: center;
	color: #4d4d4d;
	line-height: 1.4375rem;
}


.foo-nav_item a {
	color: #000;
	text-decoration: none;
}
