* {
	box-sizing: border-box;
	font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* navigation */

.navbar {
	display: fixed;
	background: #fff;
	min-height: 0;
	border-bottom: 1px solid #bfbfbf;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	left: 0;
	clear: both;
	width: 100%;
}
	
.navbar-brand {
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	background: transparent;
	font-size: 100%;
	justify-items: center;
}

.navbar-item {
	display: grid;
	justify-self: center;

}


.navbar-item a {
	text-decoration: none;
	color: rgb(0, 40, 55);
	font-size: 1rem;
	line-height: 1.3125rem;
	font-weight: 700;
	text-transform: capitalize;
}

.nav-link a,
.selec a {
	color: #00b3e5;
}


/* content */

.header .main-container {
	display: flex;
	flex-flow: column wrap;
}


.title {
	font-size: 3.125rem;
	font-weight: 700;
	line-height: 3.1875rem;
	letter-spacing: -.0375rem;
	color: #000;
	margin: 0 0 .93747rem;

}

.author {
	color: #00b3e5;
}

.main-img {
	display: block;
	height: 400px;
	width: 100%;
}

.img-title,
.credt {
	font-size: .75rem;
	line-height: .9375rem;
	margin: 0;
	padding: 0;
	border: 0;
}

.social {
	display: flex;
	flex-flow: row wrap;
}

.social-link {
	margin-right: .91667rem;
}

.main-hero div {
	background: yellow;
	display: grid;
}

.content-flex {
	display: flex;
}

.art-cont {
	max-width: calc(100% - 25.125rem);
	width: auto;
	margin: 0 auto;
}

.sidbar {
	position: relative;
	overflow: hidden;
	width: 250px;
}
/* footer */

.footer div {
	background: green;
	display: flex;
}